<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient_first_name %><br>
    <%= f.text_field :recipient_first_name %>
  </div>
  <div class="field">
    <%= f.label :recipient_last_name %><br>
    <%= f.text_field :recipient_last_name %>
  </div>
  <div class="field">
    <%= f.label :recipient_street %><br>
    <%= f.text_field :recipient_street %>
  </div>
  <div class="field">
    <%= f.label :recipient_city %><br>
    <%= f.text_field :recipient_city %>
  </div>
  <div class="field">
    <%= f.label :recipient_state %><br>
    <%= f.text_field :recipient_state %>
  </div>
  <div class="field">
    <%= f.label :recipient_zip %><br>
    <%= f.number_field :recipient_zip %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
