<h1>Listing letters</h1>

<table>
  <thead>
    <tr>
      <th>Recipient first name</th>
      <th>Recipeint last name</th>
      <th>Recipient street</th>
      <th>Recipient city</th>
      <th>Recipient state</th>
      <th>Recipient zip</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.recipient_first_name %></td>
        <td><%= letter.recipient_last_name %></td>
        <td><%= letter.recipient_street %></td>
        <td><%= letter.recipient_city %></td>
        <td><%= letter.recipient_state %></td>
        <td><%= letter.recipient_zip %></td>
        <td><%= letter.content %></td>
        <td><%= link_to 'Show', letter %></td>
        <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
        <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter', new_letter_path %>
